<%=user_style_tag current_user %>
<div class="grid_8">
  <% @history.each do |hijack| %>
  <div class="hijack-item">
    <div><%=h hijack.start_on %> <%=h hijack.from_user.screen_name %>→<%=h hijack.to_user.screen_name %></div>
    <% hijack.tweets.each do |status| %>
    <% next if status.deleted %>
    <%= tweet_tag status, "history" %>
    <% end %>
    <hr />
  </div>
  <% end %>
</div>
<div class="grid_4">
  <%= erb :widget %>
</div>
