<div class="grid_8">
  <%= tweet_style_tag %>
  <% @history.each do |hijack| %>
  <div class="hijack-item">
    <div><%=h hijack.start_on %> <%=h hijack.from_user.screen_name %>→<%=h hijack.to_user.screen_name %></div>
    <% hijack.tweets.each do |status| %>
    <% next if status.deleted %>
    <%= tweet_tag status, :history %>
    <% end %>
    <hr />
  </div>
  <% end %>
</div>
