<p>のっとるユーザーを選んでください．</p>
<table>
  <% @users.each do |user| %>
  <tr>
    <td>
      <img src="<%=h user.profile_image_url %>" title="<%=h user.screen_name %>">
    </td>
    <td>
      <strong><%=h user.screen_name %></strong> <%=h user.profile_name %>
      <br>
      <%=h user.profile_description %>
    </td>
    <td>
      <form method="post" action=".">
        <input type="hidden" name="user_id" value="<%= user.user_id %>" />
        <input type="submit" value="のっとる" />
      </form>
    </td>
  </tr>
  <% end %>
</table>

