<form method="post" action="timeline">
  <% if @reply_id %>
  <input type="hidden" name="reply_id" value=<%=h @reply_id %> />
  <% end %>
  <textarea name="tweet" cols="50" rows="3"><%=h "@#{@reply_user} " if @reply_user %></textarea>
  <br />
  <input type="submit" value="tweet" />
</form>

<% @timeline.each do |status| %>
<img src="<%=h status.user.profile_image_url %>" size=64></img>
<p>
  <a href="http://twitter.com/#!/<%=h status.user.screen_name %>">
    <%=h status.user.screen_name %> 
  </a>
  <%=h status.user.name %>
</p> 
<p>
  <%=h status.text %>
  <a href="timeline?reply_id=<%=h status.id%>&reply_user=<%=h status.user.screen_name %>">
    reply
  </a>
</p>
<% end %>
