<%= user_style_tag current_hijacked_user %>
<div class="grid_8">
<form id="post-tweet" method="post" action="timeline">
  <input type="hidden" name="reply_id" value="<%=h params[:reply_id] %>" />
  <textarea name="tweet" cols="50" rows="3"><%=h "@#{params[:reply_user]} " if params[:reply_user] %></textarea>
  <br />
  <input type="submit" value="tweet" />
  <span class="indicator hidden">通信中</span>
</form>
<p><%=h flash[:tweet_error] %></p>

<% @timeline.each do |status| %>
<%= tweet_tag status, "timeline" %>
<% end %>
</div>
<div class="grid_4">
  のっとっているユーザー
  <%= user_profile_tag current_hijacked_user %>
  <br />
  <%= erb :widget %>
</div>
