<form method="post" action="timeline">
  <textarea name="tweet" cols="50" rows="3"></textarea>
  <br />
  <input type="submit" value="tweet">
</form>

<% @timeline.each do |status| %>
<img src="<%= status.user.profile_image_url %>" size=64></img>
<p>
  <a href="http://twitter.com/#!/<%= status.user.screen_name %>">
    <%= status.user.screen_name %> 
  </a>
  <%= status.user.name %>
</p> 
<p><%= status.text %></p>
<% end %>
