<%= user_style_tag current_hijacked_user %>
<script language="javascript" type="text/javascript" >
 window.nottotter.dispatcher('/timeline', function() {
    window.nottotter.countdown.set(<%=h current_hijack.finish_on_milliseconds %>);
    window.nottotter.countdown.init();
});

</script>
<div class="grid_8">
  <form id="post-tweet">
    <input type="hidden" name="token" value="<%=h current_user.token %>"></input>
    <input id="post-tweet-reply-id" type="hidden" name="reply_id" value="<%=h params[:reply_id] %>" />
    <textarea id="post-tweet-textarea" name="tweet" cols="50" rows="3"><%=h "@#{params[:reply_user]} " if params[:reply_user] %></textarea>
    <br />
    <input type="submit" value="tweet" />
    <span class="indicator hidden"><img src="/img/ajax.gif" style="vertical-align: middle;"></span>
  </form>
  <br />
  <div id="timeline">
    <% @timeline.each do |status| %>
    <%= tweet_tag status, "timeline" %>
    <% end %>
  </div>
</div>
<div class="grid_4">
  のっとり中
  <%= user_profile_tag current_hijacked_user %>

  <div class="remain-time-container">
    <div>残り時間</div>
    <div class="remain-time" style="visibility: hidden;"><span class="remain-time-minute">00</span><span class="remain-time-middle">:</span><span class="remain-time-sec">00</span></div>
  </div>

  <%= erb :widget %>
</div>
