<tr class="tweet">
  <td class="tweet-profile-icon">
    <img src="<%=h status.user.profile_image_url %>" />
  </td>
  <td class="tweet-content">
    <table width="100%" height="100%">
      <tr><td>
	  <strong>
	    <a href="http://twitter.com/#!/<%=h status.user.screen_name %>">
	      <%=h status.user.screen_name %> 
	    </a>
	  </strong>
	  <%=h status.user.name %>
	  <br/>
	  <%=tweet_filter status.text %>
      </td></tr>
      <tr>
	<td class="tweet-footer">
	  <% if location == "timeline" %>
	  <form method="get" action="/timeline">
	    <input type="hidden" name="reply_id" value="<%=h status.id_str %>" />
	    <input type="hidden" name="reply_user" value="<%=h status.user.screen_name %>" />
	    <a href="#" class="tweet-footer-item" onclick="this.parentNode.submit()">reply</a>
	  </form>
	  <% end %>
	  <% if current_user and current_user.can_delete_status(status.id_str) %>
	  <form method="post" action="/delete">
	    <input type="hidden" name="id" value="<%=h status.id_str %>" />
	    <input type="hidden" name="location" value="<%=h location %>" />
	    <a href="#" class="tweet-footer-item" onclick="this.parentNode.submit()">delete</a>
	  </form>
	  <% end %>
	</td></tr>
    </table>
  </td>
</tr>

