<div class="tweet-item">
  <img class="tweet-icon" src="<%=h status.user.profile_image_url %>" />
  <div class="tweet-name">
    <a href="http://twitter.com/#!/<%=h status.user.screen_name %>">
      <%=h status.user.screen_name %> 
    </a>
    <%=h status.user.name %>
  </div>
  <div class="tweet-text">
    <%=tweet_filter status.text %>
  </div>
  
  <% if location == "timeline" %>
  <form method="get" action="/timeline" calss="inline">
    <input type="hidden" name="reply_id" value="<%=h status.id_str %>" />
    <input type="hidden" name="reply_user" value="<%=h status.user.screen_name %>" />
    <a href="#" class="tweet-footer-item" onclick="this.parentNode.submit()">reply</a>
  </form>
  <% end %>
  <% if current_user and current_user.can_delete_status(status.id_str) %>
  <form method="post" action="/delete" class="inline footer-item">
    <input type="hidden" name="id" value="<%=h status.id_str %>" />
    <input type="hidden" name="location" value="<%=h location %>" />
    <a href="#" class="tweet-footer-item" onclick="this.parentNode.submit()">delete</a>
  </form>
  <% end %>
  <hr />
</div>
