<table class="tweet" data-value="<%= status.id_str %>">
  <tr>
    <td class="tweet-profile-icon<% if hijacked_from %> hijacked<% end %>">
      <% if hijacked_from %>
      <a target="_blank" href="http://twitter.com/#!/<%=h hijacked_from.screen_name %>">
        <img src="<%=h hijacked_from.profile_image_url %>" title="<%=h hijacked_from.screen_name %>"/>
      </a>
      →
      <% end %>
      <a target="_blank" href="http://twitter.com/#!/<%=h status.user.screen_name %>">
        <img src="<%=h status.user.profile_image_url %>" title="<%=h status.user.screen_name %>" />
      </a>
    </td>

    <td class="tweet-content">
      <div>
        <% if hijacked_from %>
        <a target="_blank" href="http://twitter.com/#!/<%=h hijacked_from.screen_name %>"><strong><%=h hijacked_from.screen_name %></strong></a>
        →
        <% end %>
	<a target="_blank" href="http://twitter.com/#!/<%=h status.user.screen_name %>"><strong><%=h status.user.screen_name %></strong></a>
	<%=h status.user.name %>
      </div>
      <div class="tweet-text-container">
	<%=tweet_filter status.text %>
      </div>
      <div class="tweet-footer">
	<% if location == "timeline" %>
	<a href="/timeline?reply_id=<%=h status.id_str %>" class="tweet-footer-item reply" data-status-id="<%=h status.id_str %>" data-screen-name="<%=h status.user.screen_name %>">reply</a>
        
	<% end %>
	<% if current_user and current_user.can_delete_status(status.id_str) %>
	<a href="/timeline?delete_id=<%=h status.id_str %>" class="tweet-footer-item delete" data-status-id="<%=h status.id_str %>">delete</a>
	<% end %>
      </div>
    </td>
  </tr>
</table>

