<div style="border: 1px solid #dddddd; margin-bottom: 10px;">
  <div class="profile-item">
    <img class="small-icon" src="<%=h user.profile_image_url %>" />
    <strong>
      <%=h user.profile_name %> (@<%=h user.screen_name %>)
    </strong>
  </div>

  <table width="100%" class="profile-item">
    <tr>
      <td width="50%">のっとった <strong><%=h hijack_users.size %></strong></td>	
      <td width="50%">のっとられた <strong><%=h hijacked_users.size %></strong></td>
    </tr>
    <tr>
      <td><%= icon_list_tag hijack_users %></td>
      <td><%= icon_list_tag hijacked_users %></td>
    </tr>
  </table>
</div>
